---
layout: custom
---

<div class="container">

<h2>作品集</h2>

<p><b>キーワード：</b><%= @keywords.join("、")%></p>

<style type="text/css">img {width: auto;max-width: 100%;}</style>

<% num=1 %>
<% @content_data.each do |theme, projects| %>  
    <div class="section">
    <h5><%= theme %></h5>
    <div class="row">
  <% projects.each do |project| %>
  <% name = project.first %>
  <% info = project.last %>

        <!--   Icon Section   -->
        <div class="col s12 m6">
          <div class="icon-block">
            <!--<h2 class="center grey-text text-darken-4"><i class="large material-icons"><%= info["icon"]%></i></h2>-->
            <h4 class="center"><%= name %></h4>
            <p class="light"><%= info["description"] %></p>

<% unless info["items"].nil? %>

<% items = info["items"].map { |item| "<li>#{item}</li>" } %>
<ul><%= items.join %></ul>
<% end %>
    
<% unless info["image"].nil? %>
<img src="<%= info["image"] %>" />
<% end %>
<table>
<tbody>
<tr><td>成果物</td><td><%= info["output"] %></td></tr>
<tr><td>言語</td><td><%= info["lang"] %></td></tr>
<tr><td>リンク</td>
<td><a href="<%= info["url"] %>"><%= info["url"] %></a></td>
</tr>
</tbody>
</table>

          </div>
        </div>

<% end %>
      </div>
      </div>
<% end %>

</div>


<footer class="page-footer grey lighten-5">
<div class="container">
<ul>
 <% @terms.sort.map do |key, value| %>
    <li class="black-text"><b><%= key%>:&nbsp;</b><%= value %></li>
  <% end %>
</ul>
</div>

<div class="footer-copyright">
  <div class="container">
  &copy; <%= @year %> YumaSATO / Made by <a href="http://materializecss.com">Materialize</a>
  </div>
</div>
</footer>
